body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 3rem;
  color: #f5abcfec;
  font-weight: 200;
  font-style: italic;
}

.card-text{
font-weight: 200;

}



footer {
  text-align: center;
  color: rgb(186, 232, 237);
}

.logo {
height: 350px;
  
}

.tile-image2{
position: relative;
    top: 1px;
    left: 1250px;
    height: 550px;
}

.card-text2{
   color:#FFD6BA ; 
   text-align: right;
}
.card-title2{
   color:#e49abc; 
   text-align: right;
}

.tile-image1{
  width:500px;
  height:500px;
}

.card-text1{
color: #FFD6BA;
}

.card-title1{
  color:#e49abc; 
}